
<h1 class="text-center mt-4"> Categories List</h1>
<div class="container">
	<div class="flickr_pagination">
		<%= will_paginate %>
	</div>
	<div class="card" style="width: 18rem;">
		<% @categories.each do |category| %>
		  <ul class="list-group list-group-flush", style="list-style-type:none">
		  	<div class="row justify-content-md-center">
		      	<li >
					<%= link_to "#{category.name}", category_path(category) %>
				</li>
			</div>
		  </ul>
	  	<% end %>
	</div>
	<div class="flickr_pagination">
		<%= will_paginate %>
	</div>
</div>